<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/{{ style }}">
</head>
<body>
  <header>
    {% include "components/header.njk" %}
  </header>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>